 #random{
    background-image: url("https://github.com/jonnygovish/IP3/blob/master/assets/backgrounds/h_img.jpg?raw=true");
    background-size: cover;
    background-repeat: no-repeat;
   display:flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height:100vh;
   color:white;
   position:relative;
}
.image{
    width:13vw;
    margin-bottom: 2vh;
}
.image2{
    position:absolute;
    bottom:2vh;
} 
.header{
    margin-bottom: 2vh;
}
.about{
    text-align: center;
}
.about2{
    height:30vh;
}
.about2 p{
      text-align: justify;
      font-size: 1.2vw;
      font-family: Arial, Helvetica, sans-serif;
}
.about2{
    margin:5vh 10vw;
}
.services{
    background-image: url("https://github.com/jonnygovish/IP3/blob/master/assets/backgrounds/s_image.jpg?raw=true");
    background-size: cover;
    width:100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
}
.second-header{
    text-align: center;
    margin:3vh 0;
}
.image-container{
    display:flex;
    justify-content: space-around;
}
#design{
    display:none;
    color:black;
    cursor: pointer;
    width:25vw;
    height:45vh;
    margin:1.2vh 0;
}
.design h3{
    text-align: center;
}

.designP{
    margin-top: 2vh;
}
#services{
    display:none;
    color:black;
    cursor: pointer;
    width:25vw;
    height:45vh;
    margin:1.2vh 0;
}
